@import "normalize";
@import "mixins";
@import url(http://fonts.googleapis.com/css?family=Ubuntu);

$gray: #333;
$white: #fff;
$off-white: #fefefe;
$blue: #3580ba;
$red: #8f2020;

*, *:before, *:after {
	outline: none;
	@include box-sizing;
}

html {
	font-size: 62.5%;
}

body, * {
	font-size: 16px;
	font-family: Ubuntu, sans-serif;
}

textarea {
	@include font-size(2.4);
	@include rem(padding, 1);
	width: 75%;
	min-height: 140px;
	display: inline-block;
	vertical-align: top;

	@include border-radius(4px);
}
select {
	@include font-size(2.4);

	option {
	}
}
.button {
	display: inline-block;
	vertical-align: top;
	@include font-size(2.4);
	@include rem(padding, 1);
	margin-right: 1em;
	text-decoration: none;
	position: relative;

	color: $gray;
	background-color: $off-white;
	border: 1px solid $gray;

	@include border-radius(4px);

	&:hover {
		color: darken($gray, 15%);
		background-color: darken($off-white, 5%);
		border: 1px solid darken($gray, 15%);
	}

	&.active {
		color: $white;
		background-color: $blue;
		border-color: $blue;
	}

	> .delete {
		@include font-size(1.0);
		display: block;
		position: absolute;
		top: -1em;
		right: -1em;
		color: $white;
		background-color: $red;
		border-color: $white;
		padding: .5em .7em;

		@include border-radius(18px);
	}
}
button {
	@extend .button;
}

article {
	@include rem(padding, 2.0);
}

.said, .phrases, .voices {
	@include rem(margin-top, 2);
	border-top: 1px dashed $gray;

	.button {
		@include font-size(1.6);
		margin-bottom: 1em;
	}
}
.said {

	h2 {
		display: inline-block;
		vertical-align: middle;
	}

	p {
		display: block;
	}

	.button.clear {
		display: inline-block;
		vertical-align: middle;
		@include font-size(1.6);
		margin: .5em;
		padding: .2em;
	}
}

.phrases, .voices {
	display: inline-block;
	vertical-align: top;
	width: 48%;
}
.said {
	padding: 1em 0 0;
}
.phrases {
	margin-right: 1%;
}
.voices {
	margin-left: 1%;
}

footer {
	color: lighten($gray, 15%);
	@include rem(padding, 2);
}