@import "normalize";
@import "base";
@import "mixins";
@import "grid";
@import url(http://fonts.googleapis.com/css?family=Raleway);

$font: Raleway, sans-serif;

$gray: #333;
$light-gray: #cacaca;
$white: #fff;
$off-white: #fefefe;
$blue: #3580ba;
$red: #8f2020;

*, *:before, *:after {
	outline: none;
	@include box-sizing;
}
html {
	font-size: 62.5%;
}
body, * {
	font-size: 16px;
	font-family: $font;
}
input, textarea, select {
	font-family: $font;
}
textarea {
	@include font-size(2.4);
	@include rem(padding, 1);
	width: 75%;
	min-height: 140px;
	display: inline-block;
	vertical-align: top;

	@include border-radius(4px);
}
select {
	@include font-size(2.4);

	option {
		@include font-size(2.4);
	}
}
.button {
	display: inline-block;
	vertical-align: top;
	@include font-size(2.4);
	@include rem(padding, 1);
	margin-right: 1em;
	text-decoration: none;
	position: relative;

	color: $gray;
	background-color: $off-white;
	border: 1px solid $gray;

	@include border-radius(4px);

	&:hover {
		color: darken($gray, 15%);
		background-color: darken($off-white, 5%);
		border: 1px solid darken($gray, 15%);
	}

	&.active {
		color: $white;
		background-color: $blue;
		border-color: $blue;
	}

	> .delete {
		@include font-size(1.0);
		display: block;
		position: absolute;
		top: -1em;
		right: -1em;
		color: $white;
		background-color: $red;
		border-color: $white;
		padding: .5em .7em;

		@include border-radius(18px);
	}
}
button {
	@extend .button;
}

header, article, footer {
	@include rem(padding, 2.0);
}

header {
	h1 {
		margin: 0;
	}
}

.no-js article {
	display: none;
}

.said, .phrases, .voices {
	@include rem(margin-top, 2);
	border-top: 1px dotted $light-gray;

	.button {
		@include font-size(1.6);
		margin-bottom: 1em;
	}
}
.said {

	h2 {
		display: inline-block;
		vertical-align: middle;
	}

	p {
		display: block;
	}

	.button.clear {
		display: inline-block;
		vertical-align: middle;
		@include font-size(1.6);
		margin: .5em;
		padding: .2em;
	}
}
.phrases, .voices {
	display: inline-block;
	vertical-align: top;
	width: col(6, 12);
}
.said {
	padding: 1em 0 0;
}
.phrases {
	margin-right: gutter(6, 12);
}
.voices {
	.button {
		@include -grid-item;
	}
}
footer {
	color: lighten($gray, 20%);
}

@media screen and (max-width: $ipad-landscape) {
	.button {
		text-align: center;
		@include grid-item(4, 12, 3);
	}
	textarea {
		display: block;
		width: 100%;

		& + .button {
			@include rem(margin-top, 1);
		}
	}
	.phrases, .voices {
		width: 100%;
		margin-right: 0;
	}
}

@media screen and (min-width: $iphone-landscape) and (max-width: $ipad-landscape) {
	.voices {
		.button {
			@include grid-item(4, 12, 3);
		}
	}
}

@media screen and (max-width: $iphone-landscape) {
	.button, .voices .button {
		display: block;
		width: 100%;
		text-align: center;
	}
}